@import "/home/moe/.cache/wal/colors.scss";

* {
  all: unset; //Unsets everything so you can style everything from scratch
}

.bar {
  background-color: transparent;
  color: $text_color;
  font-size: 16px;
}

.widget {
  background: $color4;
  border: 1px solid $foreground;
  padding: 0px 12px;
  border-radius: 10px;
}

.widget:hover {
  background: $color3;
}

.time-reveal {
  background: $color4;
  color: $text_color;
  border-radius: 10px;
  padding: 12px;
}

.time-reveal metric {
  all: unset;
  color: #000000;
}

.control-box {
  background-color: $color2;
  color: $text_color;
  border-radius: 10px;
  padding: 12px;
}

.control-box:hover {
  background-color: $color3;
  color: $text_color;
}

.label {
  padding-right: 5px;
}

.workspaces {
  background-color: $color4;
  border: 1px solid $foreground;
  border-radius: 10px;
  padding: 3px;
}

.workspaces button,
.btn {
  color: $text_color;
  padding: 0px 18px;
  border-radius: 10px;
  margin: 0px 2px;
}

.workspaces > button.active {
  border-radius: 8px;
  background-color: $color7;
  color: $color0;
  padding: 3px 32px;
}

.workspaces button:hover,
.btn:hover {
  background-color: $color7;
  color: $color0;
}

.music-img {
  border-radius: 10px;
}

// .sidestuff slider {
//   all: unset;
//   color: #ffd5cd;
// }

.metric scale trough highlight {
  all: unset;
  background-color: $color3;
  color: $color0;
  border-radius: 10px;
}

// .metric scale trough {
//   all: unset;
//   background-color: #4e4e4e;
//   border-radius: 50px;
//   min-height: 3px;
//   min-width: 100px;
//   margin-left: 10px;
//   margin-right: 20px;
// }

// .metric scale trough highlight {
//   all: unset;
//   background-color: #D35D6E;
//   color: #000000;
//   border-radius: 10px;
// }

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 50px;
  min-height: 15px;
  min-width: 200px;
  margin: 0px 10px;
}

.weather-label {
  padding: 30px 0px;
}

.battery {
  color: black;
}

.battery.discharging {
  background-color: #3FCE14;
}

.battery.charging {
  background-color: #26A65B;
}

.battery.warning {
  background-color: #ffbe61;
}

.battery.low {
  background-color: #e65555;
}

.battery.critical {
  background-color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: chocolate;
    color: #000000;
  }
}