@import "/home/moe/.cache/wal/colors.scss";

$mode: "normal";
// $mode: "minimal";
// hypr-mode --<normal | minimal>

* {
  all: unset;
}

.bar {
  @if $mode == minimal {
    min-width: 1536px;
  } @else {
    margin-top: 6px;
    min-width: 1520px;
  }
  background-color: transparent;
  color: $text_color;
  font-size: 16px;
}

.widget {
  background-color: $color4;
  padding: 0px 12px;
  @if $mode == normal {
    border: 1px solid $foreground;
    border-radius: 10px;
    margin-left: 8px;
  }
}

.widget:hover {
  background-color: $color3;
}

// first widget should not have margin-left
.first {
  margin-left: 0px;
}

.wifi {
  padding: 0px 25px;
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
}

@if $text_color == white {
  .wifi-disabled {background-image: url("/home/moe/.local/share/icons/custom/wifi/wifi-disabled.svg");}
  .wifi-high {background-image: url("/home/moe/.local/share/icons/custom/wifi/wifi-high.svg");}
  .wifi-low {background-image: url("/home/moe/.local/share/icons/custom/wifi/wifi-low.svg");}
  .wifi-mid {background-image: url("/home/moe/.local/share/icons/custom/wifi/wifi-mid.svg");}
  .wifi-none {background-image: url("/home/moe/.local/share/icons/custom/wifi/wifi-none.svg");}
} @else {
  .wifi-disabled {background-image: url("/home/moe/.local/share/icons/custom/wifi-dark/wifi-disabled.svg");}
  .wifi-high {background-image: url("/home/moe/.local/share/icons/custom/wifi-dark/wifi-high.svg");}
  .wifi-low {background-image: url("/home/moe/.local/share/icons/custom/wifi-dark/wifi-low.svg");}
  .wifi-mid {background-image: url("/home/moe/.local/share/icons/custom/wifi-dark/wifi-mid.svg");}
  .wifi-none {background-image: url("/home/moe/.local/share/icons/custom/wifi-dark/wifi-none.svg");}
}

.control {
  margin: 50px;
}

.time-reveal {
  background: $color4;
  color: $text_color;
  @if $mode == normal {
    border-radius: 10px;
  }
  padding: 12px;
  min-width: 300px;
}

.time-reveal metric {
  all: unset;
  color: #000000;
}

.control-box {
  background-color: $color2;
  color: $text_color;
  @if $mode == normal {
    border-radius: 10px;
    padding: 12px;
  } @else {
    padding: 6px;
  }
}

.control-box:hover {
  background-color: $color3;
}

.label {
  padding: 0px 5px;
}

.workspaces {
  background-color: $color4;
  @if $mode == normal {
    border-radius: 10px;
    border: 1px solid $foreground;
  }
  padding: 3px;
}

.workspaces button{
  color: $text_color;
  padding: 0px 18px;
  @if $mode == normal {
    border-radius: 8px;
  }
  margin: 0px 2px;
}

.workspaces > button.active {
  @if $mode == normal {
    border-radius: 8px;
  }
  background-color: $color7;
  color: $color0;
  padding: 3px 32px;
}

.workspaces button:hover {
  background-color: $color7;
  color: $color0;
}

.music-time-left {
  margin-right: 30px;
}

.music-time-right {
  margin-left: 30px;
}

.music-btn {
  color: $text_color;
  @if $mode == normal {
    border-radius: 10px;
  }
  font-size: 14pt;
}

.music-btn:hover {
  background: $color3;
}

.music-img {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 300px;
  min-width: 300px;
  @if $mode == normal {
    border-radius: 10px;
  }
}

.volume {
  padding: 0px 10px;
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: center;
  background-image: url("/home/moe/.local/share/icons/custom/volume/volume-off.svg");
}

.vol-mute {
  background-image: url("/home/moe/.local/share/icons/custom/volume/volume-mute.svg");
}

@if $text_color == white {
  .vol-off {background-image: url("/home/moe/.local/share/icons/custom/volume/volume-off.svg");}
  .vol-low {background-image: url("/home/moe/.local/share/icons/custom/volume/volume-low.svg");}
  .vol-mid {background-image: url("/home/moe/.local/share/icons/custom/volume/volume-mid.svg");}
  .vol-high {background-image: url("/home/moe/.local/share/icons/custom/volume/volume-high.svg");}
} @else {
  .vol-off {background-image: url("/home/moe/.local/share/icons/custom/volume-dark/volume-off.svg");}
  .vol-low {background-image: url("/home/moe/.local/share/icons/custom/volume-dark/volume-low.svg");}
  .vol-mid {background-image: url("/home/moe/.local/share/icons/custom/volume-dark/volume-mid.svg");}
  .vol-high {background-image: url("/home/moe/.local/share/icons/custom/volume-dark/volume-high.svg");}
}

.mute {
  background-color: #85c1c1;
  color: #2a5c45;
}

.mute:hover {
  background-color: #589090;
  color: #1d4733;
}

.calendar {
  padding: 5px;
  margin: 2px;
  background-color: $color2;
  @if $mode == normal {
    border-radius: 10px;
  }
}

.calendar:selected {
  background-color: #f2437d;
  color: white;
  @if $mode == normal {
    border-radius: 5px;
  }
}

.metric scale trough highlight,
.music-bar scale trough highlight {
  background-color: $color3;
  color: $color0;
  @if $mode == normal {
    border-radius: 5px;
  }
}

.metric scale trough,
.music-bar scale trough {
  background-color: $color0;
  @if $mode == normal {
    border-radius: 5px;
  }
  min-height: 15px;
  min-width: 240px;
  margin: 0px 10px;
}

.music-bar scale trough {
  min-width: 280px;
  min-height: 15px;
}

.weather-label {
  padding-bottom: 30px;
}

.battery {
  color: black;
}

.battery.discharging {
  background-color: #3FCE14;
}

.battery.charging {
  background-color: #26A65B;
}

.battery.warning {
  background-color: #ffbe61;
}

.battery.low {
  background-color: #e65555;
}

.battery.critical {
  background-color: #f53c3c;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: chocolate;
    color: #000000;
  }
}