[Desktop Entry]
Encoding=UTF-8
Name=Brave
Exec=/home/moe/.local/bin/launch-app brave
Icon=brave
Type=Application
StartupNotify=True
MimeType=x-scheme-handler/mailto;
