[Desktop Entry]
Name=Heroic
Comment=Launch Games.
Exec=/home/moe/.local/bin/Heroic-2.15.1.AppImage
Terminal=false
Type=Application
Icon=heroic
Categories=Gaming,Games;
